# Python-specific files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment files
.env
.venv
env/
venv/
ENV/

# Visualization output
visual/

# Local data
data/exports/

# Logs
*.log

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store 